:root{
    --dominant:#ffffff;
    --complementary:#258994;
    --complementaryDim:#c7e6e9;
    --accent:#393E41;
    --error: #B00020;
    --gray: #f1f4f6;
    --grayFont: #787575;
    --grayBackground: #f8f9fa;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.primaryButt{
    background-color: var(--complementary) !important;
    border-color: var(--complementary) !important;
}

.primaryButt:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--complementaryDim), 0 1px 2px 0 black !important;
}

.p-confirm-dialog-accept{
 background-color: var(--complementary) !important;
 border-color: var(--complementary) !important;
}

.p-confirm-dialog-accept:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--complementaryDim), 0 1px 2px 0 black !important;
}

.primary{
    color: var(--complementary) !important;
}

.accent{
    color: var(--accent) !important;
}

.textGray{
    color: var(--grayFont);
}

.my-input:enabled:focus {
    box-shadow: 0 0 0 0.2rem var(--complementaryDim) !important;
    border-color: var(--complementary) !important;
}

.my-input:enabled:hover {
    border-color: var(--complementary) !important;
}

.authErrors{
    color: var(--error);
}

.menuButt:focus{
   box-shadow: inset 0 0 0 0.15rem var(--complementaryDim);
}

.textButt{
    color: var(--complementary) !important;
}

.raisedButt{
    color: var(--complementary) !important;
    background-color: #ffffff !important; 
}

.raisedButt:focus{
    box-shadow:  0 0 0 0.15rem var(--complementaryDim) !important;
}

.textButt:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--complementaryDim), 0 1px 2px 0 black !important;
}

.p-confirm-dialog-reject{
    color: var(--complementary) !important;
}

.p-confirm-dialog-reject:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--complementaryDim), 0 1px 2px 0 black !important;
}

.textButt:hover {
    background: #6dc0ed2f !important;
}

.p-dialog-header-icon:focus{
    box-shadow: 0 0 0 0.2rem var(--complementaryDim) !important;
}

.p-menuitem-link:focus {
    box-shadow: inset 0 0 0 0.15rem var(--complementaryDim) !important;
}

.p-sidebar-close{
    display: none !important;
}

.p-sidebar-content {
    padding: 0rem !important;
    padding-right: 1rem !important;
}

.sidebarOptions{
    color: var(--accent);
    display: flex;
    height: 3.5rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0px 50px 50px 0px;
    text-decoration: none;
}

.sidebarOptions:hover{
  background-color: var(--gray);
}

.sidebarOptions:active{
    background-color: var(--complementaryDim);
}

.activeOption{
    background-color: var(--complementaryDim);
}

.selectedClassOption{
    border-bottom: 2px solid var(--complementary) !important;
    color: var(--complementary) !important;
    
}

.selectedClassOption:hover{
    background-color: var(--complementaryDim) !important;
}

.selectedClassOption span{
    color: var(--complementary) !important;
}

.classOption{
  
  opacity: 0.8;
}

.classOption:hover{
    opacity: 1;
    background-color: var(--gray);
}

.classOption span{
   color: var(--accent);
}

.primaryHr {
    border-top:2px solid var(--complementary)
}

.grayBackground{
    background-color: var(--grayBackground);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.announceTab{
    box-shadow: var(--box-shadow);
}

.hoverPrimary:hover{
  color: var(--complementaryDim);
}

.assignmentCard:hover{
    background-color: var(--complementaryDim);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: var(--complementary) !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--complementary) !important;
    background: var(--complementary) !important;
}

.hoverText:hover{
    color: var(--complementary);
    cursor: pointer;
}

.box{
    min-width: 150px;
    max-width: 300px;
    border-radius: 15px;
    background: var(--complementaryDim);
    position: relative;
  }
  
  
  /* speech bubble 13 */
  
  .sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid var(--complementaryDim);
    border-right: 15px solid transparent;
    border-top: 15px solid var(--complementaryDim);
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
  }
  
  
  /* speech bubble 14 */
  
  .sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid var(--complementaryDim);
    border-top: 15px solid var(--complementaryDim);
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}
  

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}