:root{
    --dominant:#ffffff;
    --complementary:#258994;
    --complementaryDim:#cbe7ea;
    --accent:#393E41;
    --error: #B00020;
    --gray: #e3e5e6;
}



.primaryButt{
    background-color: var(--complementary) !important;
    border-color: var(--complementary) !important;
}

.primaryButt:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--complementaryDim), 0 1px 2px 0 black !important;
}

.p-confirm-dialog-accept{
 background-color: var(--complementary) !important;
 border-color: var(--complementary) !important;
}

.p-confirm-dialog-accept:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--complementaryDim), 0 1px 2px 0 black !important;
}

.primary{
    color: var(--complementary) !important;
}

.accent{
    color: var(--accent) !important;
}

.my-input:enabled:focus {
    box-shadow: 0 0 0 0.2rem var(--complementaryDim) !important;
    border-color: var(--complementary) !important;
}

.my-input:enabled:hover {
    border-color: var(--complementary) !important;
}

.authErrors{
    color: var(--error);
}

.menuButt:focus{
   box-shadow: inset 0 0 0 0.15rem var(--complementaryDim);
}

.textButt{
    color: var(--complementary) !important;
}

.raisedButt{
    color: var(--complementary) !important;
    background-color: #ffffff !important; 
}

.textButt:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--complementaryDim), 0 1px 2px 0 black !important;
}

.p-confirm-dialog-reject{
    color: var(--complementary) !important;
}

.p-confirm-dialog-reject:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--complementaryDim), 0 1px 2px 0 black !important;
}

.textButt:hover {
    background: #6dc0ed2f !important;
}

.p-dialog-header-icon:focus{
    box-shadow: 0 0 0 0.2rem var(--complementaryDim) !important;
}

.p-menuitem-link:focus {
    box-shadow: inset 0 0 0 0.15rem var(--complementaryDim) !important;
}

.p-sidebar-close{
    display: none !important;
}

.p-sidebar-content {
    padding: 0rem !important;
    padding-right: 1rem !important;
}

.sidebarOptions{
    color: var(--accent);
    display: flex;
    height: 3.5rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0px 50px 50px 0px;
    text-decoration: none;
}

.sidebarOptions:hover{
  background-color: var(--gray);
}

.sidebarOptions:active{
    background-color: var(--complementaryDim);
}

.activeOption{
    background-color: var(--complementaryDim);
}

.selectedClassOption{
    border-bottom: 2px solid var(--complementary) !important;
    color: var(--complementary) !important;
    background-color: var(--complementaryDim) !important;
}
.selectedClassOption span{
    color: var(--complementary) !important;
}

.classOption{
  
  opacity: 0.8;
}

.classOption:hover{
    opacity: 1;
    background-color: var(--gray);
}

.classOption span{
   color: var(--accent);
}

.primaryHr {
    border-top:2px solid var(--complementary)
}
